html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.thumbNail img {
  width: 150px;
  height: 221px;
}

.heroBox {
  width: 150px;
  height: 225px;
  margin: 20px auto;
}

.heroDescription,.thumbNail {
  width: 100%;
  float: left;
}
.thumbNail{
  border-bottom: 4px red solid;
  height: 225px;
  background: black;
}
.heroDescription {
  height: 140px;
  background: black;
  padding: 5px;
  border-bottom-right-radius: 16px;
}
.heroDescription h1 {
  font-size: 14px;
  color: white;
}
.heroWrap{
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
}
.searchHeros input {
  width: 200px;
}
.searchHeros {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
}

@media only screen and (min-width: 320px) and (max-width: 728px) {
  /* For portrait layouts only */
  .searchHeros input.ant-input {
    width: 100%;
  }
  .heroBox {
    width: 100%;
  }
  .thumbNail {
    text-align: center;
  }
  .heroDescription {
    text-align: center;
  }
  .wrap {
    padding: 0px 30px;
  }
}
